---
import Bento from '../components/Bento.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Services from '../components/Services.astro';
import Numeros from '../components/Numeros.astro';
import Reviews from '../components/Reviews.astro';
import FormsContact from '../components/FormsContact.astro';
import Footer from '../components/Footer.astro';
import Popup from '../components/Popup';
---

<Layout title="Irene's Cleaning| Service Professional Cleaning in Jersey City"
	description="Reliable and affordable cleaning service in Jersey City and surrounding areas. Deep, customized, and easy-to-schedule cleanings. Your home sparkling with just one click!">
	
	<main>
		<Popup client:load/>
		<Hero />
		<section class="relative bg-[url(/fondo3.webp)] bg-cover bg-center min-h-screen w-full">
			<div class="absolute inset-0 bg-white opacity-95"></div>
			<div class="relative z-10">
				<!-- Contenido de la sección -->
				<Numeros />
				<Reviews />
			</div>
		</section>
		
		<section class="relative bg-[url(/fondo2.webp)] bg-cover bg-center min-h-screen w-full">
			<div class="absolute inset-0 bg-white opacity-95"></div>
			<div class="relative z-10">
				<!-- Contenido de la sección -->
				<Services />
			</div>
		</section>
		
		<section class="relative bg-[url(/fondo.webp)] bg-cover bg-center">
			<div class="absolute inset-0 bg-white opacity-95"></div>
			<div class="relative z-10">
				<!-- Contenido de la sección -->
				<Bento />
			</div>
		</section>
		<FormsContact />
		
		
	</main>
	<Footer />

</Layout>

<style>
  .underline-pink::after {
    content: '';
    display: block;
    width: 120px; /* Ajusta este valor para cambiar el ancho de la línea */
    height: 2px; /* Grosor de la línea */
    background-color: #aa69ff; /* Color rosa */
    position: absolute;
    bottom: -10px; /* Ajusta esta distancia según sea necesario */
    left: 50%; /* Centra la línea horizontalmente */
    transform: translateX(-50%); /* Centra la línea horizontalmente */
  }

</style>

