---
import Bento from '../components/Bento.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Services from '../components/Services.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Irene's Cleaning| Service Professional Cleaning in Jersey City"
	description="Reliable and affordable cleaning service in Jersey City and surrounding areas. Deep, customized, and easy-to-schedule cleanings. Your home sparkling with just one click!">
	
	<main>
		<Hero />
		<section class="relative bg-[url(/fondo2.webp)] bg-cover bg-center min-h-screen w-full">
			<div class="absolute inset-0 bg-white opacity-95"></div>
			<div class="relative z-10">
				<!-- Contenido de la sección -->
				<Services />
			</div>
		</section>
		
		<section class="relative bg-[url(/fondo.webp)] bg-cover bg-center">
			<div class="absolute inset-0 bg-white opacity-95"></div>
			<div class="relative z-10">
				<!-- Contenido de la sección -->
				<Bento />
			</div>
		</section>
		
		
	</main>

</Layout>

<style>
  .underline-pink::after {
    content: '';
    display: block;
    width: 120px; /* Ajusta este valor para cambiar el ancho de la línea */
    height: 2px; /* Grosor de la línea */
    background-color: #aa69ff; /* Color rosa */
    position: absolute;
    bottom: -10px; /* Ajusta esta distancia según sea necesario */
    left: 50%; /* Centra la línea horizontalmente */
    transform: translateX(-50%); /* Centra la línea horizontalmente */
  }

</style>

