---
import Facebook from "./icons/Facebook.astro"
import Instagram from "./icons/Instagram.astro"
import Tiktok from "./icons/Tiktok.astro"
---

<footer class="mt-24 bg-black/70">
  <div class="mx-auto w-full max-w-screen-xl p-4 px-6 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 flex flex-col md:mb-0">
        <a
          href="/"
          class="-mt-14 flex items-center justify-center"
        >

        <img src="logo.webp" alt="Logo" class="h-auto w-24" />

        </a>

        <div class="mt-6 flex justify-center gap-x-4">
          <a href="#contact" class="text-white hover:text-purple-500 duration-300">
            <Facebook />
            <span class="sr-only">Facebook</span>
          </a>

          <a href="#contact" class="text-white hover:text-purple-500  duration-300">
            <Instagram />
            </svg>
            <span class="sr-only">Instagram</span>
          </a>

          <a href="#contact" class="text-white hover:text-purple-500 duration-300">
            <Tiktok />
            <span class="sr-only">Tiktok</span>
          </a>
        
        </div>
      </div>
      
      <div class="grid grid-cols-2 gap-8 sm:grid-cols-3 sm:gap-6">
        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase text-white">
            Services
          </h2>
          <ul class="flex flex-col gap-2 font-medium text-gray-400">
            <li>
              <a
                href="#contact"
                class="hover:underline hover:text-purple-500 duration-300"
                >Standard Cleaning</a
              >
            </li>
            <li>
              <a
                href="#contact"
                class="hover:underline hover:text-purple-500 duration-300"
                >Deep Cleaning</a
              >
            </li>
            <li>
              <a
                href="#contact"
                class="hover:underline hover:text-purple-500 duration-300"
                >More Services</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase text-white">
            Site web
          </h2>
          <ul class="flex flex-col gap-2 font-medium text-gray-400">
            <li>
              <a
                href="/"
                class="hover:underline hover:text-purple-500 duration-300"
                >HOME</a
              >
            </li>
            <li>
              <a
                href="#services"
                class="hover:underline hover:text-purple-500 duration-300"
                >Services</a
              >
            </li>
            <li>
              <a
                href="#contact"
                class="hover:underline hover:text-purple-500 duration-300"
                >Contact</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-0 text-sm font-semibold uppercase text-white">
            Irene's Cleaning Services
          </h2>
          <a href="" target="" rel="noreferrer">
            <img
              class="mt-4 w-20 h-auto"
              src="logo.webp"
              alt="Logo Irene's Cleaning"
            />
          </a>
        </div>
      </div>
    </div>
    <hr class="my-6 border-white/10 sm:mx-auto lg:my-8" />
    
  </div>
</footer>
