<section
  class="relative bg-[url(/hero.webp)] bg-cover bg-center bg-no-repeat bg-fuchsia-800"
>
  <!-- Fondo de la sección con una imagen de fondo -->
<div
  class="absolute inset-0 bg-gray-950 bg-opacity-50"
>
</div>

  <!-- Contenedor principal con padding y centrado -->
  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
  >
    <!-- Contenedor del texto con alineación según la dirección del texto -->
    <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
      <!-- Título principal -->
      <h1 class="text-3xl font-extrabold text-white sm:text-5xl">
        Irene Cleaning Services

        <!-- Subtítulo en negrita y color diferente -->
        <strong class="block font-extrabold text-purple-600"> Forever Home. </strong>
      </h1>

      <!-- Descripción -->
      <p class="mt-4 max-w-lg text-white sm:text-xl/relaxed">
        House and Apartment Cleaning in Jersey City and Surrounding Areas – Let Our Expert Team Take Care of Your Home!
      </p>

      <!-- Botones de acción -->
      <div class="mt-8 flex flex-wrap gap-4 text-center">
        <a
          href="#"
          class="block w-full rounded bg-purple-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-purple-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto"
        >
          Get Started
        </a>

        <a
          href="#"
          class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-purple-600 shadow hover:text-purple-700 focus:outline-none focus:ring active:text-rose-500 sm:w-auto"
        >
          Learn More
        </a>
      </div>
    </div>
  </div>
</section>
