---
import FormsDescuento from './FormsDescuento.astro'
import Numeros from './Numeros.astro'
---

<section
  class="relative bg-[url(/hero.webp)] bg-cover bg-center bg-no-repeat bg-fuchsia-600"
>
  <!-- Fondo de la sección con una imagen de fondo -->
<div
  class="absolute inset-0 bg-gray-800 bg-opacity-70"
>
</div>

  <!-- Contenedor principal con padding y centrado -->
<section class="relative text-white">
  <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
    <div class="mx-auto max-w-3xl text-center">
      <h1
        class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
             font-bold text-heading-1"
      >
        Irene's Cleaning

        <span class="sm:block text-transparent bg-clip-text bg-gradient-to-br from-purple-600 from-20% via-primary via-20% to-pink-600"> Official. </span>
      </h1>

      <p class="mx-auto mt-4 max-w-xl sm:text-xl/relaxed">
        House and Apartment Cleaning in Jersey City and Surrounding Areas – Let Our Expert Team Take Care of Your Home!

      </p>

      <div class="mt-10  w-full flex max-w-md mx-auto lg:mx-0">
                <div class="flex sm:flex-row flex-col gap-5 w-full">
                    <FormsDescuento />
                    </form>
                </div>
        
      </div>

      
    </div>
  </div>
</section>




